<div class = "col-sm-5">
<i class="far fa-search"></i><input class="form-control" id = "search" type="text" placeholder="Search for something!" aria-label="Search">
</div>
<div id="search_results"></div>

<div id="all">
{{#each data}}
<article>
  <p class="post">{{this.text}}</p>
  <p class="tags">&emsp;Tags: {{#each this.tags}}{{this}} {{/each}}<p>
  <p class="timestamp">Post #{{this.id}}&emsp;Posted by {{this.user}} on <script>document.write(new Date({{this.time}}))</script></p>
  <p>Comments:</p>
  <ul>
    {{#each this.comments}}
    <li class="post">{{this.text}}<span class="timestamp">&emsp;Posted by {{this.user}} on <script>document.write(new Date({{this.time}}))</script></span></li>
    {{else}}
    <li>No comments yet...</li>
    {{/each}}
  </ul>
</article>
{{else}}
<article>
  <h1>There was no data from the server.</h1>
</article>
{{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js">
</script>
